<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bolsas Kraft &mdash; Fábrica de bolsas de papel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fábrica de bolsas de papel" />
	<meta name="keywords" content="bolsas, papel, kraft, ecologico, bolsas de papel" />
	<meta name="author" content="dannydanzka" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row" style="display: flex; justify-content: center; align-items: center;">
					<div class="col-md-3 col-xs-2">
						<div id="fh5co-logo">
							<a href="index.html">
								<img src="images/logo.jpg" />
							</a>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 text-center menu-1">
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="about.html">Nosotros</a></li>
							<li><a href="contact.html">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div id="fh5co-product">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
						<div class="owl-carousel owl-carousel-fullwidth product-carousel">
							<div class="item">
								<div class="active text-center">
									<figure>
										<img src="images/bolsa-kraft3.jpg" alt="user">
									</figure>
								</div>
							</div>
							<div class="item">
								<div class="active text-center">
									<figure>
										<img src="images/bolsa-kraft2.jpg" alt="user">
									</figure>
								</div>
							</div>
							<div class="item">
								<div class="active text-center">
									<figure>
										<img src="images/bolsa-kraft1.jpg" alt="user">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="padding-bottom: 11rem;">
					<div class="col-md-10 col-md-offset-1">
						<div class="fh5co-tabs animate-box">
							<ul class="fh5co-tab-nav">
								<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Medidas</span></a></li>
								<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Precio</span></a></li>
								<!--
								<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Promociones</span></a></li>
								-->
							</ul>

							<!-- Tabs -->
							<div class="fh5co-tab-content-wrap bolsa">

								<div class="fh5co-tab-content tab-content active" data-tab-content="1">
									<div class="col-md-12">
										<h2>Bolsa de Papel Kraft con Asa</h2>
										<p>Elaborada con papel kraft de 90grs, asa de papel pegada a mano.</p>

										<table class="table table-hover">
										    <thead>
										      	<tr>
										        	<th class="text-center">Tamaño</th>
										        	<th class="text-center">Ancho (cm)</th>
										        	<th class="text-center">Alto (cm)</th>
										        	<th class="text-center">Fuelle (cm)</th>
										      	</tr>
										    </thead>
										    <tbody>
												<tr>
													<td class="text-center">Mediana kraft c/asa</td>
													<td class="text-center">19</td>
													<td class="text-center">20</td>
													<td class="text-center">10</td>
												</tr>
												<tr>
													<td class="text-center">Grande kraft c/asa</td>
													<td class="text-center">24.5</td>
													<td class="text-center">31</td>
													<td class="text-center">12</td>
												</tr>
												<tr>
													<td class="text-center">Licorera c/asa</td>
													<td class="text-center">11</td>
													<td class="text-center">33.5</td>
													<td class="text-center">9</td>
												</tr>
											</tbody>
										</table>
										<p style="margin-bottom: 2px">Todos los precios son + IVA</p>
										<p style="margin-bottom: 2px">Realizamos envíos a toda la república mexicana</p>
										<p style="font-size: 12px">(cargo de flete y compra minima 10 bultos)</p>
									</div>
								</div>

								<div class="fh5co-tab-content tab-content" data-tab-content="2">
									<div class="col-md-12">
										<h2>Bolsa de Papel Kraft con Asa</h2>
										<p>Elaborada con papel kraft de 90grs, asa de papel pegada a mano.</p>
										<span class="price">$1,908.00 - $2,400.00</span>
										<table class="table table-hover">
											<thead>
												<tr>
													<th class="text-center">Tamaño</th>
													<th class="text-center">Millares por bulto</th>
													<th class="text-center">Precio por bulto</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">Mediana kraft c/asa</td>
													<td class="text-center">250 pzas</td>
													<td class="text-center">$2,141.00</td>
												</tr>
												<tr>
													<td class="text-center">Grande kraft c/asa</td>
													<td class="text-center">250 pzas</td>
													<td class="text-center">$2,400.00</td>
												</tr>
												<tr>
													<td class="text-center">Licorera c/asa</td>
													<td class="text-center">250 pzas</td>
													<td class="text-center">$1,908.00</td>
												</tr>
											</tbody>
										</table>
										<p style="margin-bottom: 2px">Todos los precios son + IVA</p>
										<p style="margin-bottom: 2px">Realizamos envíos a toda la república mexicana</p>
										<p style="font-size: 12px">(cargo de flete y compra minima 10 bultos)</p>
									</div>
								</div>

								<!--
								<div class="fh5co-tab-content tab-content" data-tab-content="3">
									<div class="col-md-12">
										<h2>Impresión Gratis</h2>
										<p>En la compra de 50 bultos de la misma medida. Podemos incluir su logotipo, telefono, dirección como medio publicitario de su negocio.</p>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-sm">
					<div class="col-md-6">
						<h3>Bolsas Kraft</h3>
						<p>Fabricantes de bolsas de papel y papel de envoltura.</p>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							<li><a href="index">Inicio</a></li>
							<li><a href="about.html">Nosotros</a></li>
							<li><a href="contact.html">Contacto</a></li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">&copy; 2021 Kraft. All Rights Reserved.</small>
							<small class="block">Developep by <a href="https://www.linkedin.com/in/roberto-ramirez21/" target="_blank">Roberto Ramirez</a>
						</p>
						<p>
							<ul class="fh5co-social-icons">
								<li><a href="https://www.facebook.com/danny.danzka?ref=bookmarks" target="_blank"><i class="icon-facebook"></i></a></li>
								<li><a href="https://www.linkedin.com/in/roberto-ramirez21/" target="_blank"><i class="icon-linkedin"></i></a></li>
							</ul>
						</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

